:root {
  --background-color: #fdfdfd00;
  --button-color: #D8D2C2;
  --text-color: #EEEEEE;
  --input-background: #4A4947;
  --primary-color: #FF8225;
  --hover-color: #B43F3F;
  --dropdown-bg: #FF8225;
  --menu-hover-bg: #eb6e6e;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/pexels-sarimphotos-1033729.jpg');
  background-size: cover;
  background-position: center;
}

.calculator-card {
  background-color: #4A4947;
  border-radius: 16px;
  padding: 35px;
  padding-right: 55px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 360px;
  transition: transform 0.3s ease;
}

.calculator-card:hover {
  transform: scale(1.05);
}

.input {
  width: 100%;
  font-size: 2em;
  padding: 10px;
  margin-bottom: 20px;
  border: 3px solid #FF8225;
  border-radius: 19px;
  background-color: var(--input-background);
  color: var(--text-color);
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

.button {
  width: 66px;
  height: 66px;
  padding: 15px;
  margin: 0 5px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.5em;
  transition: background-color 0.3s, transform 0.1s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: var(--hover-color);
  transform: translateY(-4px);
}

.button:active {
  transform: translateY(0);
}

.menu-button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: 15px;
}

.dropdown-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--dropdown-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  color: var(--text-color);
  padding: 6px;
  margin-top: 30px;
  align-items: flex-start;
}

.menu-option {
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.5em;
}

.menu-option:hover {
  background-color: var(--menu-hover-bg);
}

.history-button, .export-history-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 5px 0;
  width: 100%;
  transition: background-color 0.3s, transform 0.1s;
}

.history-button:hover,
.export-history-button:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
}
